.quiz {
    width: 100%;
}

.quiz-top {
    display: flex;
    justify-content: space-between;
    margin: 2em 2em 12em 2em;
}

.quiz-middle,
.quiz-bottom {
    display: flex;
    justify-content: space-around;
    margin: 1em 2em 3em 2em;
}

.quiz-p {
    font-size: 2em;
    color: white;
    font-weight: 500;
}

@media only screen and (max-height: 900px) {
    .quiz-top {
        display: flex;
        justify-content: space-between;
        margin: 2em 2em 4em 2em;
    }
}