.quiz-creator {
    text-align: center;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    max-width: clamp(50em, 70em, 90em);
    min-width: clamp(20em, 30em, 40em);
    padding: 0;
}

.quiz-creator-top {
    display: flex;
    min-height: clamp(5em, 8em, 10em);
    justify-content: space-between;
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
}

.quiz-creator-icon {
    position: absolute;
    top: 2em;
    left: 2em;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    background-color: #e27d60;
    border-radius: 100%;
    padding: 0.4em;
    transition: all 0.4s ease;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.quiz-creator-icon:hover {
    position: absolute;
    top: 2em;
    left: 2em;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    background-color: #e27d60;
    border-radius: 100%;
    padding: 0.6em;
    transition: all 0.4s ease;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.quiz-creator-h3 {
    font-size: 2em;
}

.quiz-creator-input {
    width: 90%;
    min-height: clamp(2em, 3em, 5em);
    text-align: left;
    padding: 0.2em 1em;
}

.quiz-creator-pair {
    padding: 0;
}