.quiz-pair {
    background-color: #41b3a3;
    width: 100%;
    border-radius: 0.8em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 0.8em;
    margin: 2em 0;
    position: relative;
}

.quiz-pair-top {
    display: flex;
    color: white;
    justify-content: space-between;
    border-bottom: 0.1em solid white;
    padding: 0.4em;
    margin: 0.4em;
    font-size: 1.4em;
}

.quiz-pair-p {
    margin: 0;
    padding: 0;
}

.quiz-pair-bottom {
    display: flex;
    margin-top: 1em;
}

.quiz-pair-input {
    width: 100%;
    min-height: clamp(1.2em, 2.2em, 3.2em);
}