* {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

body {
  background-color: #c38d9e;
}

p {
  margin: 0.3em;
  padding: 0.3em;
}

button,
input,
select {
  margin: 0.3em 0.6em;
  padding: 0.3em;
}

input {
  border: none;
  border-radius: 0.4em;
  background-color: #85dcb8;
  text-align: center;
}

input:focus {
  outline: none;
}

button {
  min-width: clamp(4.7em, 6.7em, 8.7em);
  min-height: clamp(1em, 3em, 4em);
  border: none;
  border-radius: 1.9em;
  background-color: #e27d60;
  color: white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  font-size: 2em;
  transition: all 0.6s ease;
}

button:hover {
  cursor: pointer;
  transition: all 0.6s ease;
  min-width: clamp(4.9em, 6.9em, 8.9em);
  min-height: clamp(1.1em, 3.1em, 4.1em);
  transform: translateY(-0.1em);
}

