* {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

p {
  margin: 0.3em;
  padding: 0.3em;
}

button,
input,
select {
  margin: 0.3em 0.6em;
  padding: 0.3em;
}

input {
  border: none;
  border-radius: 0.4em;
  background-color: #85dcb8;
  text-align: center;
}
